    # Mappen med alla nedladdade verktyg
    node_modules

    # Mappen med den kompilerade koden
    out/

    # Mappen för snabba anteckningar
    quick-notes/

    # TypeScript build-info
    *.tsbuildinfo

    # Installationsfiler 
    *.vsix

    # VS Code metadata
    .vscode/